.react-slideshow-container {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-right: 22rem;
    margin-left: 20rem;
}
.each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
    height: 30rem;
    width: 53rem;
    background-repeat: no-repeat;
    background-position: center;
  }